  <ul>
        <li>
          <a href="/users">Users</a>
        </li>
        <li>
          <a href="/photos">Photos</a>
        </li>
      </ul>
    </nav>
    <h1>austin</h1>

<dl>
  <dt>ID</dt>
  <dd>102</dd>

  <dt>Edit user</dt>
  <dd>
    <form action="/update_user/102" >
      <label for="browser_username">Username</label>
      <input id="browser_username" type="text" name="input_username" placeholder="Enter a username..." value="austin">

      <button>Update user</button>
    </form>
  </dd>
</dl>

<h2>Own photos (11)</h2>

<table border="1">
  <tr>
    <th>
      Image
    </th>

    <th>
      Owner
    </th>

    <th>
      Caption
    </th>

    <th>
      Posted
    </th>

    <th></th>
  </tr>

  <tr>
    <td>
      <img src="https://robohash.org/omnisrecusandaeimpedit.png?size=300x300&amp;set=set1">
    </td>

    <td>
      austin
    </td>

    <td>
      Once you’ve accepted your flaws, no one can use them against you.
    </td>

    <td>
      2018-01-26 09:32:19 UTC
    </td>
    
    <td>
      <a href="/photos/805">
        Show details
      </a>
    </td>
  </tr>
  </table>